@media (max-width: 576px) { 
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav a {
        width: 86.2%;
        text-align: center;
    }
    
    .principal {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }
    .imagem-principal img {
        height: 200px;
    }
    .introducao {
        width: 350px;
    }

    .contato {
        text-align: center;
        width: 350px;
        margin-left: 0;
    }

    button {
        width: 250px;
        font-size: 30px;
        margin-left: 0;
    }

    button:hover {
        width: 275px;
        font-size: 34px;
    }

    .empresas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0;
    }

    .logo-empresas img {
        margin-right: 0;
    }
 }
