a {
    text-decoration: none;
    padding: 15px;
}

a:hover {
    background-color: azure;
    transition: 0.4s ease-in-out;
}

nav {
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 255, 80);
}

body {
    background-image: url(../images/photo-1561346745-5db62ae43861.avif);
}